{% extends "Base.html" %}


{% load static %}
{% block body %}
 <div class="tour_page right-sidebar">

            <div class="tour_page_head" >
              
            </div>
            <div class="tour_page_body">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="left_content">





                           
                            
                           
                            <div class="write_comment">
                             <form  method="POST"  >
                             {% csrf_token %}
                                <div class="top">
                                    <h3 class="title">Book Treck</h3>
                                   
                                </div>
                               
                                <div class="center">
                                  <div>  <input class="input" name="Name" placeholder="Name"></div>
                                <div>

                                        <input class="input" name="Email" placeholder="Email">
                                        </div>
                                        <div>
                                    <input class="input" name="Phone_Number" placeholder="Phone Number"></div>
                                  <div>  <input class="input" name="Message" placeholder="Message"></div>
                                
                                
                                    <textarea class="textarea" name="Note" placeholder="Note"></textarea>
                                </div>
                                <div class="bottom">
                                    <div class="files">
                                       
                                    </div>
                                    <button class="submit button">Send</button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="right_content sidebar">
                        

                            
                            <div class="navigation" id="sidebar-navigation">
                              <ul>

                              </ul>
                            </div>
                           
                            
                            
                            <a class="book-now button js-popup-open" data-href="#book-now">
                                <span>Book now</span>
                                
                            </a>
                          

                        </div>
                    </div>
                </div>
            </div>
        </div>
         
        </div>    


{% endblock body %}